<div class="form-wrapper">
  <form (submit)="onRegisterUser()">
    <div class="form-group">
      <h3>Register</h3>
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input name="email" type="email" class="form-control" id="email" placeholder="Enter email" [(ngModel)]="email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input name="password" type="password" class="form-control" id="password" placeholder="Enter password" [(ngModel)]="password">
    </div>
    <div class="form-group">
      <label for="passwordc">Confirm Password</label>
      <input name="passwordc" type="password" class="form-control" id="passwordc" placeholder="Re-enter password"
        [(ngModel)]="confPassword" [ngClass]="{'is-invalid': confPassword !== password}">
    </div>
    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input name="phone" type="tel" class="form-control" id="phone" placeholder="Enter phone number" [(ngModel)]="phoneNumber">
    </div>
    <div *ngIf="error" class="form-group">
      <h5 class="error">Invalid email</h5>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-primary pull-right" (click)="onLogin()">Log In</button>
  </form>
</div>