<div class="form-wrapper">
  <form (submit)="onLogin()">
    <div class="form-group">
      <h3>Login</h3>
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input name="email" type="email" class="form-control" id="email" placeholder="Enter email" [(ngModel)]="email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input name="password" type="password" class="form-control" id="password" placeholder="Enter password" [(ngModel)]="password">
    </div>
    <div *ngIf="error" class="form-group">
      <h5 class="error">Invalid email or password</h5>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-primary pull-right" (click)="onRegister()">Sign Up</button>
  </form>
</div>