:host {
  .form-wrapper {
    background-color: #b1b0b0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
      padding: 15px;
      border-radius: 6px;
      background-color: #ffffff;
      box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.15);
      //margin:auto !important;
      width: 300px;
      min-height: 250px;
      .error{
          color:red;
          font-size: 15px;
      }
    }
  }
  .btn {
    border-radius:0%;
  }
  .btn:focus {
    outline: none;
    box-shadow: none;
  }
}
