:host {
  form {
    max-width: 500px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.15);
    .age-requirements {
      max-width: 200px;
      margin: 0 auto;
      text-align: center;
    }
    .create {
      border-radius: 0%;
      display: block;
      margin: 10px auto !important;
    }
    .create:focus {
      outline: none;
      box-shadow: none;
    }
    .carousel {
      width: 230px;
      height: 150px;
      margin: 20px auto;
      .carousel-image {
        width: 230px;
        height: 150px;
      }
    }
    .file-select-container {
      display: flex;
      justify-content: center;
      .file-select {
        margin: 10px auto;
        overflow: hidden;
        width: 100px;
        display: none;
      }
      .file-label {
        margin-top: 15px;
        width: 100px;
        height: 40px;
        line-height: 40px;
        color: white;
        background-color: #007bff;
        text-align: center;
        cursor: pointer;
      }
    }
  }
  .input-group-text {
    background-color: #007bff;
    color: white;
  }
  .red-border {
    border: 2px solid red;
  }

  .carousel-control-remove-slide {
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    position: absolute;
    display: flex;
    text-align: center;
    font-size: 20px;
    color: white;
    justify-content: center;
    cursor: pointer;
  }
  .carousel-control-remove-slide:hover {
    color: white;
  }
}
