<form>
  <div class="form-group">
    <label for="auction-title">Title</label>
    <input [ngClass]="{'is-invalid':titleErr}" autocomplete="off" type="text" name="title" class="form-control" id="auction-title"
      [(ngModel)]="auction.title" placeholder="Title">
  </div>
  <div class="form-group">
    <label for="auction-end-date">End Date</label>
    <input [ngClass]="{'is-invalid':endDErr}" autocomplete="off" type="text" name="end-date" id="auction-end-date" [(ngModel)]="auction.endDate"
      class="form-control" bsDatepicker>
  </div>
  <div class="form-group">
    <label for="auction-spots">Spots</label>
    <input [ngClass]="{'is-invalid':spotsErr}" autocomplete="off" type="number" name="spots" class="form-control" id="auction-spots"
      [(ngModel)]="auction.spots" min="1">
  </div>
  <div class="form-group">
    <label for="auction-starting-price">Starting price</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">USD</span>
      </div>
      <input [ngClass]="{'is-invalid':priceErr}" type="number" name="starting-price" class="form-control" id="auction-starting-price"
        [(ngModel)]="auction.startingPrice" min="1">
      <div class="input-group-append">
        <span class="input-group-text">.00</span>
      </div>
    </div>

  </div>
  <div class="form-check age-requirements">
    <input class="form-check-input" type="checkbox" name="has-requirements" id="age-restriction" [(ngModel)]="auction.hasRequirements">
    <label class="form-check-label" for="age-restriction">
      Age restrictions
    </label>
  </div>
  <div class="form-group age-requirements" *ngIf="auction.hasRequirements">
    <label for="auction-min-age">Minimum age</label>
    <input [ngClass]="{'is-invalid':minErr}" type="number" name="min-age" class="form-control" id="auction-min-age" [(ngModel)]="auction.minAge"
      min="1">
  </div>
  <div class="form-group age-requirements" *ngIf="auction.hasRequirements">
    <label for="auction-max-age">Maximum age</label>
    <input [ngClass]="{'is-invalid':maxErr}" type="number" name="max-age" class="form-control" id="auction-max-age" [(ngModel)]="auction.maxAge"
      min="1">
  </div>
  <div *ngIf="auction.photos.length" class="form-group">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div *ngFor="let photo of auction.photos; let i = index" class="carousel-item" [class.active]="i === 0">
          <img class="d-block w-100 carousel-image" [src]="photo.url" alt="First slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <a class="carousel-control-remove-slide"  role="button" (click)="removeSlide()">
        <i class="fa fa-times"></i>
      </a>
    </div>
  </div>
  <div class="file-select-container">
    <label for="file-input">
      <div class="file-label" [ngClass]="{'red-border':phohoErr}">Add photos</div>
    </label>
    <input name="myFile" id="file-input" type="file" accept="image/*" (change)="onSelect($event)" class="file-select">
  </div>
  <div class="form-group">
    <label for="auction-description">Description</label>
    <textarea [ngClass]="{'is-invalid':descErr}" autocomplete="off" class="form-control" name="description" id="auction-description"
      [(ngModel)]="auction.description" rows="3"></textarea>
  </div>
  <button type="button" class="btn btn-primary create" (click)="onCreate()">Create</button>
</form>