<div class="add-auction-container">
  <button type="button" class="btn btn-primary add-auction" (click)="onAdd()">Add</button>
</div>
<div class="results">
  <app-auction-thumbnail *ngFor="let thumbnail of auctions" [model]="thumbnail" [crudActions]='true' (refresh)="onRefresh()">
  </app-auction-thumbnail>
</div>
<nav aria-label="nav-page" class="nav-page">
  <ul class="pagination">
    <li class="page-item">
      <button class="btn btn-default" [disabled]="page === 1" (click)="onPrev()">Prev</button>
    </li>
    <li class="page-item">
      <button class="btn btn-default" [disabled]="auctions.length < results || !hasMore" (click)="onNext()">Next</button>
    </li>
  </ul>
</nav>