:host {
  .results {
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    app-auction-thumbnail {
    }
  }
  .add-auction-container {
    width: 120px;
    margin: 10px auto;
    .add-auction {
      margin: auto;
      display: block;
      width: 100px;
      height: 50px;
      border-radius: 0%;
    }
  }
  .nav-page {
    .pagination {
      justify-content: center;
      .page-item {
        display: block;
        cursor: pointer;
      }
    }
  }
}
