<div class="add-profile-container">
  <button type="button" class="btn btn-primary add-profile" 
  (click)="onAdd()">Add</button>
</div>
<div class="results">
  <app-profile-thumbnail *ngFor="let thumbnail of profiles" 
  [model]="thumbnail" (refresh)="onRefresh()">
  </app-profile-thumbnail>
</div>


