:host {
  .results {
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .add-profile-container {
    width: 120px;
    margin: 10px auto;
    .add-profile {
      margin: auto;
      display:block;
      width: 100px;
      height: 50px;
      border-radius: 0%;
    }
  }
}
