:host {
    text-align:center;
    font-family: Lato;
    #error-code {
        margin-top:100px;
        font-weight: 900;
        font-size:100px;
    }
    #error-message {
        font-weight: 700;
        font-size:25px;
    }
}