:host {
  .results {
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;
  }
  .content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .search-button {
    width: 100px;
    height: 40px;
    margin-top: 4px;
    border-radius: 0;
    display: block;
  }
  .search-button:focus {
    outline: none;
    box-shadow: none;
  }
  .filters-container {
    margin-left:5px;
    border-radius: 6px;
    background-color: #ffffff;
    border: solid 1px #f1f1f1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    max-width: 250px;
    max-height: 405px;
    margin-top: 25px;
    .filter {
      margin: 5px;
      display: flex;
      flex-direction: column;
    }
  }
  /deep/ {
    .country-search-container,
    .city-search-container {
      .dropdown-menu {
        width: 200px;
        margin-top: -3px;
        border-top: none;
        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
        margin-left: -1px;
        .dropdown.open.dropdown-menu {
          width: 200px;
        }
        .dropdown-item {
          height: 30px;
        }
      }
    }
  }
  .country-search-container,
  .city-search-container,
  .start-date-filter,
  .end-date-filter,
  .term-search-filter {
    float: left;
    border: solid 1px #e3e3e3;
    border-radius: 6px;
    padding: 0;
    width: 200px;
    height: 55px;
    .search {

      width: 195px;
      height: 52px;
      border-radius: 6px;
      background-color: #ffffff;
      text-indent: 25px;
      border: none;
      outline: none;
      margin-top: 0px;
    }
    .search::placeholder {
      color: #a5a5a5;
    }
  }
  .nav-page {
    margin-top: 15px;
    flex-basis: 100%;
    .pagination {
      justify-content: center;
      .page-item {
        display: block;
        cursor: pointer;
      }
    }
  }
  .hidden-element{
    width:270px;
    visibility: hidden;
    height: 5px;
  }
  @media only screen and (max-width: 900px) {
    .hidden-element{
      display: none;
    }
  }
  @media only screen and (max-width: 575px) {
    .filters-container{
      max-width: none;
      width:310px;
    }
  }
}
