<div class="content-container">
  <div class="filters-container">
    <div class="filter term-filter">
      <form class="term-search-filter">
        <input autocomplete="off" class="search" id="auction-search-field" name="searchInput" [(ngModel)]="searchInput" placeholder="Search">

      </form>
    </div>

    <div class="filter country-filter">
      <form [formGroup]="countryForm" class="country-search-container">
        <input formControlName="country" [typeahead]="countries" typeaheadOptionField="title" [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0"
          placeholder="Country" class="search" id="country-search" (typeaheadOnSelect)="typeaheadCountryOnSelect($event, countryInput, cityInput)"
          autocomplete="off" #countryInput>
      </form>
    </div>
    <div class="filter city-filter">
      <form [formGroup]="cityForm" class="city-search-container">
        <input formControlName="city" [typeahead]="cities" typeaheadOptionField="title" [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0"
          placeholder="City" class="search" id="city-search" (typeaheadOnSelect)="typeaheadCityOnSelect($event, cityInput)"
          autocomplete="off" #cityInput>
      </form>
    </div>
    <div class="filter start-date-filter">
      <input class="search" placeholder="Start Date" autocomplete="off" type="text" name="start-date" id="auction-start-date" [(ngModel)]="startDate"
        bsDatepicker>
    </div>
    <div class="filter end-date-filter">
      <input class="search" placeholder="End Date" autocomplete="off" type="text" name="end-date" id="auction-end-date" [(ngModel)]="endDate"
        bsDatepicker>
    </div>
    <button type="button" class="btn btn-primary search-button" (click)="onFilter()">Search</button>
  </div>
  <div class="results">
    <app-auction-thumbnail *ngFor="let thumbnail of auctions" [model]="thumbnail" [crudActions]='false'>
    </app-auction-thumbnail>
    <nav aria-label="nav-page" class="nav-page">
      <ul class="pagination">
        <li class="page-item">
          <button class="btn btn-default" [disabled]="page === 1" (click)="onPrev()">Prev</button>
        </li>
        <li class="page-item">
          <button class="btn btn-default" [disabled]="auctions.length < results || !hasMore" (click)="onNext()">Next</button>
        </li>
      </ul>
    </nav>
  </div>
  <div class="hidden-element"></div>
</div>