:host {
  .notifications {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .nav-page {
    margin-top: 15px;
    flex-basis: 100%;
    .pagination {
      justify-content: center;
      .page-item {
        display: block;
        cursor: pointer;
      }
    }
  }
}
