<div class="notifications">
    <app-notification *ngFor="let notification of notifications" [notification]="notification"></app-notification>
</div>
<nav aria-label="nav-page" class="nav-page">
    <ul class="pagination">
        <li class="page-item">
            <button class="btn btn-default" [disabled]="pageIndex === 1" (click)="onPrev()">Prev</button>
        </li>
        <li class="page-item">
            <button class="btn btn-default" [disabled]="notifications.length < results ||!hasMore" (click)="onNext()">Next</button>
        </li>
    </ul>
</nav>