<form>
    <div class="form-group">
      <label for="profile-full-name">Full name</label>
      <input [ngClass]="{'is-invalid': errorfn}" autocomplete="off" type="text" name="full-name" [(ngModel)]="model.fullName" class="form-control" id="profile-full-name" placeholder="Full name">
    </div>
    <div class="from-group">
      <div class="row">
        <div class="col">
          <input autocomplete="off" [typeahead]="countries" (typeaheadOnSelect)="typeaheadCountryOnSelect($event)" [typeaheadOptionsLimit]="7" typeaheadOptionField="title"
          [ngClass]="{'is-invalid': errorct}" placeholder="Country" class="form-control country-selector" name="country-typeahead" [(ngModel)]="country">
          <input autocomplete="off" [typeahead]="cities" (typeaheadOnSelect)="typeaheadCityOnSelect($event)" [typeaheadOptionsLimit]="7" typeaheadOptionField="title"
          [ngClass]="{'is-invalid': errorcy}" placeholder="City" class="form-control city-selector" name="city-typeahead" [(ngModel)]="city">
        </div>
        <div class="col">
          <label class="pull-right" for="file-selector">
            <img class="profile-photo" [src]="model.photo.url" title="Add profile photo">
          </label>
          <input id="file-selector" name="myFile" type="file" accept=".png" (change)="onPhotoSelect($event)" class="file-select">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="profile-birthday">Birthday</label>
      <input [ngClass]="{'is-invalid': errorbtd}" autocomplete="off" type="text" name="birth-date"[(ngModel)]="model.birthDay" id="auction-end-date" class="form-control" bsDatepicker>
    </div>
    <div class="form-group">
      <label for="profile-description">Description</label>
      <textarea  [ngClass]="{'is-invalid': errordesc}" autocomplete="off" class="form-control" name="description" [(ngModel)]="model.description" id="profile-description" [(ngModel)]="model.description" rows="3" placeholder="Description"></textarea>
    </div>
    <div class="form-group create-container">
      <button type="button" class="btn btn-primary create" (click)="onSave()">Save</button>
    </div>
  </form>