<div class="profile-wrapper">
  <div class="photo-wrapper">
    <img class="photo" [src]="profile.photo.url">
  </div>
  <div class="info-wrapper">
    <div class="profile-name">
      {{profile.fullName}}
    </div>
    <div class="input-wrapper">
      <input class="form-control input-field" type="number" name="bid-value" [(ngModel)]="value" [ngClass]="{'is-invalid': error}" [disabled]="disabled">
      <button type="button" class="btn btn-primary join-auction" (click)="onJoin()" [disabled]="disabled">Join</button>
    </div>
  </div>
</div>