:host {
  .profile-wrapper {
    display: flex;
    align-items: center;
    .photo {
      width: 100px;
      height: 100px;
    }
    .info-wrapper {
      width: 250px;
      .input-wrapper {
        margin-top: 5px;
        display:flex;
        input {
          height:38px;
        }
      }
    }
    .btn {
      height: 38px;
      border-radius:0%;
      margin-bottom: 6px;
    }
    .btn:focus {
      outline: none;
      box-shadow: none;
    }
  }
  .error-inp {
    border-color: red;
  }
}
