<div class="modal-header">
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <app-bid-profile *ngFor="let profile of profiles" [profile]="profile" [auctionId]="auctionId" (close)="close()"></app-bid-profile>
</div>