:host{
    .modal-body{
        min-height: 300px;
        padding: 30px;
        padding-top:5px;
        display:flex;
        flex-wrap:wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .modal-header{
        border-bottom:none;
    }
}