<div class="result">
  <div class="auction-image-container">
    <img class="auction-thumbnail" [src]="model.auction.photoUrl">
  </div>
  <div class="auction-info">
    <div class="title">
        <a class="auction-title" routerLink="/auctions/{{model.auction.id}}" [title]="model.auction.title"> {{model.auction.title}} </a>
    </div>
    <div class="institution" [title]="model.auction.institutionName">
        {{model.auction.institutionName}}
    </div>
    <div class="bid" [ngClass]="{'over': model.value >= model.auction.highBid, 'under': model.value < model.auction.highBid}">
        {{model.value}}$
    </div>
    <div class="timer" [ngClass]="{'ongoing': countdown.message !== 'ended', 'ended': countdown.message === 'ended'}">
        {{countdown.message}}
    </div>
  </div>
  <div class="profile-info">
    <img [src]="model.profile.photo.url">
    <div class="profile-name">
      {{model.profile.fullName}}
    </div>
  </div>
</div>