:host {
  .result {
    margin-top: 10px;
    min-height: 150px;
    margin-left: 3px;
    margin-right: 3px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.15);
    width: 630px;
    height: 110px;
    padding: 5px;
  }
  .auction-image-container {
    margin-left: 10px;
    .auction-thumbnail {
      width: 200px;
      height: 130px;
      //border-radius: 10%;
    }
  }
  .profile-info {
    height: 130px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    img {
      width: 80px;
      height: 80px;
    }
    div {
      font-size: 12px;
      font-family: Roboto;
      font-weight: 700;
      word-wrap: break-word;
    }
  }
  .auction-info {
    
    height: 130px;
    width:250px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    div {
      display: block;
    }
    .bid {
      text-align: center;
      font-size:20px;
      font-family: Roboto;
      font-weight:900;
    }
    .over{
      color:green;
    }
    .under{
      color:red;
    }
  }
  .institution {
    font-size: 12px;
    font-family: Roboto;
    font-weight: 700;
    color: #6b6b6b;
  }
  .title {
    font-weight: bold;
    font-size: 17px;
  }
  .timer{
    font-size:18px;
    font-family: Roboto;
    font-weight: 900;
  }
   .ongoing{
    color:#1873e9;
   }
   .ended{
     text-transform: capitalize;
    color:#630909;
   }
   @media only screen and (max-width: 660px){
    .auction-image-container{
      display:none;
      
    }
    .result{
      height: auto;
      width: 310px;
      flex-direction: column-reverse;
      .profile-info{
        margin:auto;
        .profile-name{
          margin-top:-10px;
        }
      }
    }
   }
}
