<div class="dashboard-wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
            <ul class="navbar-nav ml-auto text-center">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/auctions">Browse</a>
                </li>
                <li *ngIf="role === env.institution" class="nav-item">
                    <a class="nav-link" routerLink="/myauctions">My Auctions</a>
                </li>
                <li *ngIf="role === env.bidder" class="nav-item">
                    <a class="nav-link" routerLink="/myprofiles">My Profiles</a>
                </li>
                <li *ngIf="role === env.bidder" class="nav-item">
                    <a class="nav-link" routerLink="/mybids">My Bids</a>
                </li>
            </ul>
        </div>
        <div class="mx-auto my-2 order-0 order-md-1 position-relative logo-container">
            <a class="mx-auto" routerLink="/home">
                <img src="../../../../../assets/logo/logo.png" class="logo-image">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
            <ul class="navbar-nav mr-auto text-center">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/mynotifications">Notifications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/account">Account</a>
                </li>
                <li class="nav-item logout">
                    <a class="nav-link" (click)="onLogout()">Logout
                        <i class="fa fa-sign-out"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="content">
        <router-outlet></router-outlet>
    </div>
    <div id="footer"></div>
</div>