:host {
  .dashboard-wrapper{
    min-height: 100vh;
    background-color: lightblue!important;
    padding-bottom:20px;
  }
  .logo-image {
    width: 200px;
    height: 50px;
  }
  .logo-container {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
  }
  #content {
    margin: auto;
  }
  a > i:before{
    margin-left:5px;
  }
  .logout {
    cursor: pointer;
  }
  .nav-item{
    font-weight: bold;
  }
}
