<div class="profile">
  <div class="info-container">
    <div class="photo-container">
      <img class="photo" [src]="model.photo.url">
    </div>
    <div class="profile-info">
      <div class="profile-name">
        {{model.fullName}}
      </div>
      <div class="profile-address">
        Address: {{model.city}}, {{model.country}}
      </div>
      <div class="profile-bday">
        Birthday: {{model.birthDay | date}}
      </div>
    </div>
  </div>

  <div [innerHTML]="model.description" class="profile-description" 
  (click)="overflown = !overflown" 
  [ngClass]="{'active-desc': overflown}">
  </div>
  <div class="profile-actions">
    <button type="button" class="btn btn-warning edit-auction" [disabled]="model.inActiveAuction" (click)="onEdit()">Edit</button>
  </div>
</div>