:host {
  .profile {
    margin-top: 10px;
    min-height: 150px;
    margin-left: 3px;
    margin-right: 3px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.15);
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    width: 450px;
    .profile-info {
      margin-left: 25px;
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      font-family: Roboto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      .profile-name {
        font-size: 20px;
        font-weight: 700;
      }
      .profile-address {
        font-size: 15px;
        color: #696969;
      }
      .profile-bday {
        font-size: 15px;
        color: #696969;
      }
    }
    .info-container {
      flex-basis: 100%;
      display: flex;
    }
    .photo-container {
      margin-left: 10px;
      .photo {
        width: 100px;
        height: 100px;
        background-color: white;
      }
    }
    .profile-description {
      border-top: 1px solid #e9e9e9;
      padding-top: 5px;
      border-bottom: 1px solid #e9e9e9;
      padding-bottom: 5px;
      flex-basis: 100%;
      height:36px;
      white-space: pre-wrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
    }
    .active-desc{
      height:auto;
      overflow:visible;
      text-overflow: initial;
    }
    .profile-actions {
      padding-top: 10px;
      flex-basis: 100px;
      display: flex;
      justify-content: center;
      word-wrap: break-word;
      white-space: pre-wrap;
      .btn {
        height: 45;
        width: 80px;
        margin-left: 5px;
        margin-right: 5px;
      }
      .btn:focus {
        outline: none !important;
        box-shadow: none;
      }
      .edit-auction {
        color: white;
        border-radius: 0%
      }
    }
  }
  @media only screen and (max-width: 430px){
    .profile{
      width:400px;
    }
  }
  @media only screen and (max-width: 385px){
    .profile{
      width:350px;
    }
  }
}
