:host {
  .notification-wrapper {
    width: 500px;
    padding: 10px;
    min-height: 100px;
    margin-top: 10px;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    .result {
      width: 100px;
      height: 100px;
      font-size: 80px;
    }
    .lost {
      color: red;
      font-size: 95px;
      margin-top: -10px;
    }
    .won {
      color: green;
    }
    .profile-image {
      width: 80px;
      height: 80px;
    }
    .message {
      text-align: center;
      max-width:300px;
    }
    .profile-name {
      font-size: 16px;
      font-weight: 700;
      font-family: Roboto;
    }
    .status {
      font-size: 13px;
      font-weight: 400;
      font-family: Roboto;
      color: #686868;
    }
    .auction-title {
      font-size: 16px;
      font-weight: 700;
      font-family: Roboto;
      color: #007bff;
      //white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  @media only screen and (max-width: 600px) {
    .result{
      width:50px!important;
    }
    .notification-wrapper {
      width: 330px;
    }
    .message {
      max-width: 200px !important;
    }
    .lost:before {
      font-size: 50px;
    }
    .won:before {
      font-size: 40px;
    }
    .lost{
      height:110px!important;
    }
    .profile-image {
      width: 50px!important;
      height: 50px!important;
    }
  }
}
