<div class="notification-wrapper">
  <i *ngIf="notification.result ==='lost'" class="fa fa-times result lost" aria-hidden="true"></i>
  <i *ngIf="notification.result ==='won'" class="fa fa-check result won" aria-hidden="true"></i>
  <div class="message" *ngIf="notification.result ==='lost'">
    <div class="profile-name">
      {{notification.profile.fullName}}
    </div>
    <div class="status">
      has <b>lost</b> the auction
    </div>
    <a class="auction-title" [routerLink]="'/auctions/'+notification.auction.id">
      {{notification.auction.title}}
    </a>
  </div>
  <div class="message" *ngIf="notification.result ==='won'">
    <div class="profile-name">
      {{notification.profile.fullName}}
    </div>
    <div class="status">
      has <b>won</b> the auction
    </div>
    <a class="auction-title" [routerLink]="'/auctions/'+notification.auction.id">
      {{notification.auction.title}}
    </a>
  </div>
  <img class="profile-image" [src]="notification.profile.photo.url">
</div>