<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 carousel-image" src="/assets/defaults/learn.jpg"
        alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Search</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 carousel-image" src="/assets/defaults/bid.jpg"
        alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Bid</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 carousel-image" src="/assets/defaults/succeed.jpg"
        alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Succeed</h5>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="home-popular">
  <div id="popular-auctions">Popular auctions</div>
  <div class="results">
    <app-auction-thumbnail *ngFor="let thumbnail of auctions" [model]="thumbnail" [crudActions]='false'>
    </app-auction-thumbnail>
  </div>
</div>