:host {
  .carousel {
    margin: 0 auto;
    max-width: 100%;
    
    //height: 360px;
    // .carousel-image {
    //   max-width:100%;
    //   height: 360px;
    // }
    .carousel-caption {
      background-color: rgba(19, 138, 218, 0.4);
      color: #f8f6f6;
    }
    .carousel-image{
      //height:300px!important;
    }
  }
  #popular-auctions {
    font-family: Roboto;
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
  }
  .home-popular {
    text-align: center;
  }
  .results {
    margin: 10px auto;
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
}
