<div class="results">
  <app-bid-thumbnail *ngFor="let bid of bids" [model]="bid">

  </app-bid-thumbnail>
</div>
<nav aria-label="nav-page" class="nav-page">
    <ul class="pagination">
      <li class="page-item">
        <button class="btn btn-default" [disabled]="page === 1" (click)="onPrev()">Prev</button>
      </li>
      <li class="page-item">
        <button class="btn btn-default" [disabled]="bids.length < results" (click)="onNext()">Next</button>
      </li>
    </ul>
  </nav>