:host {
  .results {
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .nav-page {
    .pagination {
      justify-content: center;
      .page-item {
        display: block;
        cursor: pointer;
      }
    }
  }
}
