:host {
  .form-wrapper {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .user-form {
      padding: 15px;
      padding-top:7px;
      padding-bottom:7px;
      border-radius: 6px;
      background-color: #ffffff;
      box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.15);
      width: 450px;
      .save {
        border-radius: 0%;
        display: block;
        margin: 10px auto !important;
        margin-top:1px!important;
        margin-bottom: 1px !important;
      }
      .save:focus {
        outline: none;
        box-shadow: none;
      }
      .message {
        font-family: Roboto;
        font-size:15px;
        font-weight:700;
        text-align: center;
        margin-bottom:5px!important;
      }
    }
  }
}
