<div class="form-wrapper">
  <form class="user-form">
    <div class="form-group">
      <label for="email">Email address</label>
      <input name="email" [disabled]="true" type="email" class="form-control" id="email" [(ngModel)]="email">
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone number</label>
      <input name="phoneNumber" [disabled]="true" type="tel" class="form-control" id="phoneNumber" [(ngModel)]="phoneNumber">
    </div>
    <div class="form-group">
      <label for="oldPassword">Old password</label>
      <input name="oldPassword" type="password" class="form-control" id="oldPassword" [(ngModel)]="oldPassword">
    </div>
    <div class="form-group">
      <label for="newPassword">New password</label>
      <input name="newPassword" type="password" class="form-control" id="newPassword" [(ngModel)]="newPassword">
    </div>
    <div class="form-group">
      <label for="confPassword">Confirm password</label>
      <input name="confPassword" type="password" class="form-control" id="confPassword" [(ngModel)]="confPassword" [ngClass]="{'is-invalid': newPassword !== confPassword}">
    </div>
    <div class="form-group message" [ngClass]="{'text-danger':error,'text-success':!error}">
      {{status}}
    </div>
    <button type="button" class="btn btn-primary save" (click)="onSave()" [disabled]="!oldPassword || !confPassword || !newPassword || newPassword !== confPassword">Save</button>
  </form>
</div>
