<div class="auction-container">
  <div class="title">{{model.title}}</div>
  <div class="slide-show-container">
    <div *ngIf="model.photos.length" id="carouselExampleControls" class="carousel slide" data-ride="false" data-interval="false">
      <div class="carousel-inner">
        <div *ngFor="let photo of model.photos; let i = index" class="carousel-item" [class.active]="i === 0">
          <img class="d-block w-100 carousel-image" [src]="photo.url" alt="First slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="auction-actions-container">
    <div class="timer" *ngIf="cs && cs.message !== 'ended'">
      {{cs.message}}
    </div>
    <div class="timer timer-ended" *ngIf="cs && cs.message === 'ended'">
      Ended
    </div>
    <div class="no-bidders">
      <div> Bidders</div>
      <div>{{model.numberOfBidders}}</div>
    </div>
    <div class="current-maxbid">
      <div>
        Current bid
      </div>
      <div>
        {{model.currentMaxBid}} USD
      </div>
    </div>
    <div class="spots" *ngIf="model.spots < 5">
      <div class="spot" *ngFor="let spot of spots">
        <i class="fa fa-user-circle" aria-hidden="true" [title]="model.spots+' Available spots'"></i>
      </div>
    </div>
    <div class="spots" *ngIf="model.spots >= 5">
      <i class="fa fa-user-circle spot" aria-hidden="true" [title]="model.spots+' Available spots'"> x {{model.spots}}</i>
    </div>
    <button type="button" class="btn btn-primary join-auction" [disabled]="cs && cs.message === 'ended' || auth.getRole() === env.institution"
      (click)="onJoin()">Join</button>
  </div>
  <div class="seller-info">
    <div class=signs>
        <div class="auction-institution-name">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        </div>
        <div class="auction-institution-address">
            <i class="fa fa-map-marker" aria-hidden="true"></i></div>
        <div class="phone">
            <i class="fa fa-phone" aria-hidden="true"></i> 
        </div>
        <div class="email">
            <i class="fa fa-envelope" aria-hidden="true"></i>
        </div>
        <div class="age-req">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        </div>
    </div>
    <div class="names">
      <div class="auction-institution-name">
           Institution:
      </div>
      <div class="auction-institution-address">
           Location: </div>
      <div class="phone">
           Phone:
      </div>
      <div class="email">
          Email:
      </div>
      <div class="age-req">
          Age restriction:
      </div>
    </div>
    <div class="values">
      <div class="auction-institution-name">
        {{model.institution.name}}
      </div>
      <div class="auction-institution-address">
        {{model.institution.city}}, {{model.institution.country}}
      </div>
      <div class="phone">
        {{model.institution.phoneNumber}}
      </div>
      <div class="email">
        {{model.institution.email}}
      </div>
      <div class="age-req" *ngIf="model.minAge && model.maxAge">
        {{model.minAge}} - {{model.maxAge}} years old
      </div>
      <div class="age-req" *ngIf="!model.minAge || !model.maxAge">
        None
      </div>
    </div>
  </div>
  <div class="auction-details-container">
    <div class="desc-title">Description</div>
    <div class="desc-content" [innerHTML]="model.description">

    </div>
  </div>

</div>