:host {
  .auction-container {
    .title {
      flex-basis: 100%;
      border-bottom: 1px solid #e0e0e0;
      font-weight: 900;
      font-family: Roboto;
      font-size: 22px;
      margin-left: 5px;
      margin-right: 5px;
    }
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.15);
    padding: 15px;
    padding-top: 8px;
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .seller-info {
      width: 380px;
      margin-right: auto;
      padding-left: 5px;
      flex-wrap: nowrap;
      display: flex;
      font-size: 15px;
      font-weight: 700;
      font-family: Roboto;
      .signs {
        flex-basis: 10%;
        text-align: center;
      }
      .names {
        flex-basis: 30%;
      }
      .values {
        flex-basis: 60%;
      }

      .auction-institution-address,
      .phone,
      .email,
      .auction-institution-name {
        margin-bottom: 5px;
        border-bottom: 1px solid #e0e0e0;
      }
    }
    .slide-show-container {
      margin-top: 20px;
      width: 380px;
      
      .carousel {
        //border-width: 2px;
        //border-color: #cfcece;
        //border-style: solid;
        border-radius: 6px;
        background-color: #bbdbf8;
        box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.15);
        width: 380px;
        height: 300px;
        display: flex;
        align-items: center;
        .carousel-image {
          max-height: 260px;
        }
      }
    }
    .auction-institution {
      margin-top: 20px;
    }
    .auction-info-container {
      //margin-left:10px;
      padding: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 380px;
      height: 300px;
      //border-radius: 6px;
      //background-color: #ffffff;
      //box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.15);
      font-family: Roboto;
      #auction-title {
        font-size: 23px;
        font-weight: 700;
      }
      #auction-institution-name {
        color: #979696;
        font-size: 17px;
        font-weight: 400;
      }
      .auction-institution-address {
        color: #979696;
        font-size: 15px;
        font-weight: 400;
        margin-top: 10px;
        flex: 1 0 33%;
      }
      .institution-photo > img {
        width: 100px;
        height: 100px;
        border-radius: 3px;
        //background-color: blue;
      }
      .auction-institution {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
      .institution-info {
        margin-right: auto;
      }
      .institution-contact {
        margin-top: 20px;
        flex-basis: 100%;
        font-weight: 700;
        font-size: 15px;
        .phone {
          margin-top: 5px;
        }
        .email {
          margin-top: 5px;
        }
      }
      .age-req {
        font-size: 15px;
        margin-top: 5px;
        font-weight: bold;
      }
    }
    .auction-actions-container {
      margin-left: 10px;
      padding: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 380px;
      height: 300px;
      max-width: 380px;
      border-radius: 6px;
      background-color: #bbdbf8;
      box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.15);
    }
    .auction-details-container {
      padding: 10px;
      border-radius: 6px;
      background-color: #ffffff;
      box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.15);
      flex-basis: 100%;
      min-width: 380px;
      max-width: 800px;

      .desc-title {
        display: block;
        margin-top: 6px;
        border-bottom: 1px solid #e0e0e0;
        font-weight: 700;
        font-size: 20px;
      }
      .desc-content {
        word-wrap: break-word;
        white-space: pre-wrap;
      }
    }
  }
  .timer {
    font-family: Changa One;
    font-size: 30px;
    text-align: center;
    padding-right: 10px;
  }
  .timer-ended {
    color: #700505;
  }
  .no-bidders {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    font-family: Roboto;
    display: flex;
    justify-content: space-between;
  }
  .current-maxbid {
    font-size: 20px;
    font-family: Roboto;
    display: flex;
    justify-content: space-between;
  }
  .spots {
    font-size: 45px;
    display: flex;
    justify-content: center;
    .spot {
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
    }
    .fa-user-circle {
      color: white;
    }
    .taken-spot {
      color: red !important;
    }
    .my-spot {
      color: greenyellow !important;
    }
  }
  .join-auction {
    margin: 20px auto;
    width: 100px;
    height: 50px;
    border-radius: 0% !important;
    display: block;
  }
  .join-auction:focus {
    background-color: #0d0b63;
    outline: none !important;
    box-shadow: none;
  }
  @media only screen and (max-width: 818px) and (min-width: 658px) {
    .auction-container {
      .slide-show-container {
        width: 300px;
        .carousel.slide {
          width: 300px;
          height: 250px;
        }
      }
      .auction-actions-container {
        width: 300px;
        height: 250px;
        .timer {
          font-size: 23px;
        }
        .no-bidders {
          font-size: 18px;
        }
        .current-maxbid {
          font-size: 18px;
        }
        .spots {
          font-size: 35px;
          .spot {
          }
        }
      }
    }
  }
  @media only screen and (max-width: 657px) {
    .auction-actions-container {
      margin-left: 0px !important;
    }
  }
}
