<div class="result">
  <div class="auction-image-container">
    <img class="auction-thumbnail" [src]="model.photoUrl">
  </div>
  <div class="auction-info-container">
    <a class="auction-title" routerLink="/auctions/{{model.id}}" [title]="model.title"> {{model.title}} </a>
    <a class="auction-institution" [title]="model.institutionName">{{model.institutionName}}</a>
    <div class="auction-spots">Number of spots up for bidding:
      <span class="spots-count">{{model.spotsCount}}</span>
    </div>
    <div class="auction-bid">Highest bid:
      <span class="auction-current-price">{{model.highestBid}}$</span>
    </div>
    <div class="auction-bidders">Number of bidders:
      <span class="bidders-count">{{model.biddersCount}}</span>
    </div>
    <div class="auction-timer" *ngIf="cs.message !== 'ended'">Ends in:
      <span class="timer">{{cs.message}}</span>
    </div>
    <div class="auction-timer" *ngIf="cs.message === 'ended'">
      <span class="timer timer-ended">Ended</span>
    </div>
  </div>
  <div class="actions">
    <button *ngIf="crudActions" [disabled]="!enableCancel" type="button" class="btn btn-danger cancel-auction" (click)="onCancel()">Cancel</button>
    <button *ngIf="crudActions" [disabled]="!enableEdit" type="button" class="btn btn-warning edit-auction" (click)="onEdit()" style="color:white">Edit</button>
    <button type="button" class="btn btn-primary show-auction" (click)="onShow()">Show</button>
  </div>

</div>