:host {
  .result {
    margin-top: 10px;
    min-height: 150px;
    margin-left: 3px;
    margin-right: 3px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.15);
    width: 630px;
    .auction-image-container {
      margin-left: 10px;
      .auction-thumbnail {
        width: 200px;
        height: 130px;
        //border-radius: 10%;
      }
    }
    .auction-info-container {
      margin-left: 20px;
      margin-right: 20px;
      width: 290px;
      .auction-title {
        display: block;
        text-align: left;
        //margin-top: 5px;
        font-size: 18px;
        font-family: Roboto;
        font-weight: 900;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .auction-institution {
        display: block;
        text-align: left;
        //margin-top: 5px;
        font-size: 15px;
        font-family: Roboto;
        font-weight: 400;
        color: #6e6e6e;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .auction-spots {
        text-align: left;
        //margin-top: 5px;
        font-size: 15px;
        font-family: Roboto;
        font-weight: 400;
        color: #6e6e6e;
        .spots-count {
          font-weight: 900;
        }
      }
      .auction-bid {
        text-align: left;
        //margin-top: 8px;
        font-size: 15px;
        font-family: Roboto;
        font-weight: 700;
        .auction-current-price {
          font-size: 16px;
          color: #236123;
        }
      }
      .auction-bidders {
        text-align: left;
        //margin-top: 4px;
        font-size: 15px;
        font-family: Roboto;
        font-weight: 700;
        .bidders-count {
          color: #630909;
        }
      }
      .auction-timer {
        text-align: left;
        //margin-top: 4px;
        font-size: 15px;
        font-family: Roboto;
        font-weight: 700;
        .timer {
          font-size: 17px;
          //font-family: 'Changa One', cursive;
          color: #1873e9;
        }
        .timer-ended {
          color: #630909;
        }
      }
    }
    .actions {
      margin-left: auto;
      align-self: center;
      //display: flex;
      //flex-wrap: wrap;
      .btn {
        display: block;
        height: 45;
        width: 80px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
        border-radius: 0%;
        //flex:3;
      }
      .btn:focus {
        outline: none !important;
        box-shadow: none;
      }
    }
  }
  @media only screen and (max-width: 900px) {
    .result {
      
      width: 310px;
      flex-direction: column;
      .actions {
        align-self: unset;
        display: flex;
        justify-content: space-between;
        margin: auto;
        .btn {
          margin-left: 3px;
          margin-right: 3px;
        }
      }
      .auction-info-container{
        display:flex;
        flex-direction: column;
        //align-items: center;
        padding-left:10px;
      }
      .auction-image-container {
        padding-top: 15px;
        margin-left: 0px;
      }
    }
  }
}
