:host {
  form {
    max-width: 500px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.15);
    .country-selector {
      max-width: 250px;
      margin-bottom: 18px;
    }
    .city-selector {
      margin-top: 25px;
      max-width: 250px;
      margin-bottom: 16px;
    }
    /deep/ {
      .dropdown,
      .dropdown-menu {
        width: 220px;
      }
    }

    .profile-photo {
      //margin-right: 20px;
      background-color: white;
      width: 100px;
      height: 100px;
      cursor: pointer;
    }
    .file-select {
      display: none;
    }
    .create-container {
      display: flex;
      justify-content: center;
      margin-bottom: 1px;
    }
    .create:focus {
      outline: none;
      box-shadow: none;
    }
    .create {
      border-radius: 0%;
    }
  }
}
